// khsexk code
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        title='TUKET'
    body
        h1= `'#${hashtag}'로 검색한 결과`

        if postlist != null
            each post in postlist
                span
                    form(action='/post/content' method='get')
                        input(type='hidden' name='idx' value=`${post.idx}`)
                        img(src=`${post.img}` height=256)
                        p(style="float:left;margin:0")
                            = post.id 
                        p(style="float:left;margin:0")
                            = post.price 
                        p(style="float:left;margin:0")
                            = post.uldate  
                        input(type='submit' value='자세히 보기')