doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        h1 
            header register
            div#clock
                header
        main           
            p 
                form(action='/register' method='post' style="float:left;margin:0;")
                    div
                        lable(for='email')
                            = 'E-mail: '
                        input(type='text' name='email')
                    div
                        lable(for='nickname')
                            = 'Nickname: '
                        input(type='text' name='nickname')
                    div 
                        lable(for='password')
                            = 'Password: '
                        input(type='password' name='password')
                    div
                        input(type='submit' value='회원가입')